# IntelliJ
.idea/
*.iml
out/

.claude

# Maven
target/
test-output/

# Playwright browsers (if downloaded locally)
.playwright/

Allure local CLI
.allure

# OS noise
.DS_Store
Thumbs.db
.ollamassist/

